@import "../../assets/sass/functions.scss";
@import "../../assets/sass/mixins.scss";
@import "../../assets/sass/variables.scss";

.shadow {
    width: 100%;
    height: 100%;
    background-color: #201b2861;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;

    .loading {
        background-color: #ffffff;
        border-radius: 100px;
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
    .BookDetail {
        // margin-top: 7rem;
        background-color: #ffffff;
        width: 400px;
        height: auto;

        border-radius: 10px 10px 10px 10px;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -36%);
        z-index: 999;

        // right: 10px;

        .Close {
            position: absolute;
            color: #c7c7c7;
            border: #c7c7c7;
            background-color: #ffffff;
            border-radius: 30px;
            width: 40px;
            height: 40px;

            margin: 10px;
        }
        .fav {
            font-size: medium;
            position: absolute;
            left: 350px;
            top: 10px;
            color: #c7c7c7;
            border: #c7c7c7;
            background-color: #ffffff;
            border-radius: 30px;
            width: 40px;
            height: 40px;
            // margin: 10px;
        }

        h3 {
            font-weight: bold;
            margin: 0px;
            color: #000000;
        }
        h4 {
            margin: 0px 0px 20px 0px;
        }
        h5 {
            margin: 10px 0px 20px 0px;
        }
        img {
            border-radius: 10px 10px 10px 10px;
        }

        .info {
            figure {
                display: flex;
                justify-content: center;
            }

            margin: 1.5rem;
            button {
                color: #ffffff;
                border: #b881ff;
                background-color: #b881ff;
                border-radius: 10px;
                width: 316px;
                height: 59px;
                display: flex;
                justify-content: center;
                align-items: center;
                h3 {
                    margin: 10px;
                    color: #ffffff;
                }
            }
            .info2 {
                display: flex;
                
                h4 {
                    margin: 0px 25px 5px 0px;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .BookDetail {
        position: fixed;
    }
}
@media only screen and (max-width: 768px) {
    .BookDetail {
        position: fixed;
        padding-top: 30px;

        top: 50%;
        left: 50%;
    }
}
