@import "../../assets/sass/functions.scss";
@import "../../assets/sass/mixins.scss";
@import "../../assets/sass/variables.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  // position: relative;

  h1 {
    font-size: toRem(40);
    text-align: center;
    @include tabletMax() {
      margin-top: toRem(150);
    }
  }

  .wishContainer {
    width: 80vw;
    margin: toRem(120) auto;
    // background-color: $gris2;
    text-align: center;
    border-radius: toRem(5);
    padding: toRem(20);

    figure {
      display: flex;
      width: 80%;
      margin: toRem(10) auto;
      padding: toRem(5) toRem(16);
      background-color: $gris1;
      border: toRem(1) solid $gris2;
      border-radius: toRem(10);
      justify-content: space-around;
      align-items: center;

      @include tabletMax() {
        flex-direction: column;
      }

      img {
        width: toRem(140);
        height: toRem(160);
        border-radius: toRem(5);
      }

      h3 {
        width: 40%;
        font-size: toRem(20);
        @include tabletMax() {
          width: 80%;
        }
      }

      span {
        font-weight: bolder;
        font-size: toRem(20);
        width: 12%;
        color: $negro;
      }

      .offerPrice {
        color: red;
      }

      button {
        border: none;
        background-color: transparent;
        color: $primario;

        .icon {
          width: toRem(30);
          height: toRem(30);
          &:hover {
            color: $secundario;
          }
        }
      }
    }
  }

  // .footerContainer {
  //   border-top: 1px solid $gris2;
  //   // position: absolute;
  //   // bottom: 0;
  //   width: 100vw;
  // }
}
