@import '../../assets/sass/functions.scss';
@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35%;
	//margin: 50em auto;
	
	// margin:  8em 40em auto;
	top: 2em;
	padding: 0.3125em;
	
	position: absolute;
    // width: 35%;
    // margin: 8em auto;
    // padding: 60px 0;
    max-width: 75em;
    
	
	background: #fff;
	border-radius: 0.3125em;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
	border: 1px solid #B881FF;


	  @include tabletMax() {
		margin-top: toRem(250);
		width: 75%;
	  }
	  @include tablet() {
		margin-top: toRem(70);
		width: 75%;
		font-size: 2em;
	  }
	  @include desktop() {
		margin-top: toRem(70);
		width: 50%;
		font-size: 2em;
	  }

	.error {
		color: #e92b2d;
		font-weight: 600px;
		font-size: 12px;
	}

	label {
		display: block;
		font-weight: 600px;
		font-size: 14px;
		margin-bottom: 0.3125em;
		color: #1f1f1f;
	}
	div {
		margin-bottom: 0.625em;
	}

	button[type="submit"] {
		padding: 0.3125em;
		box-sizing: border-box;
		
		border: 2px solid #B881FF;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
		
		cursor: pointer;
	
		
		border-radius: 10px;
	}
	button[type="submit"]:hover {
		background: #B881FF;
	}
	
	input,textarea {
	
		
	width: 100%;
	resize: none;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 0.625em;
	margin-bottom: 0.3125em;
	color: #1f1f1f;
	}

	input:focus {
	outline: none;
	border: 2px solid #B881FF;
	}
	input[type="radio"] {
		width: auto;
	}

	// @include media ('<=phone'){
	// 	position: absolute;
	// 	margin:  2px 1px auto;
	// 	width: 5%;

	// }

	.select{
		width: 100%;
	}
	.portada{
		justify-content: center;
        object-fit: cover;
        width: 100px;
	}
	
	@media (max-width: 576){ //medidas paceluco
		position: absolute;
		margin:  2px 1px auto;
		width: 5%;
	}
	

}
// .form{
//     display: flex;
//     flex-direction: column;
// 	align-items: center;
// 	justify-content: center;

	




// }


.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}




