.editBook{
    position: absolute;
    width: 450px;
    margin: auto;
    
    padding: 10px 20px;
    box-sizing: border-box;
    margin-left: 55%;
    margin-top: 15%;
    border: 1px solid #B881FF;
    border-radius: 10px;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
}