@import "../../assets/sass/functions.scss";
@import "../../assets/sass/mixins.scss";
@import "../../assets/sass/variables.scss";

.bar {
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    margin-top: 1rem;
    
        padding: toRem(30);
       
      

    .button {
        font-size: 10px;
        background-color: #f7f7f7;
        border: 2px solid #c7c7c7;
        color: #c7c7c7;
        cursor: pointer;
        text-align: center;
        padding: 0px 15px;
        border-left: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        transition-duration: 0.5s;
        height: 42px;
    }

    .button:hover {
        background-color: #b881ff;
        color: #ffffff;
        border: 2px solid #b881ff;
        border-left: transparent;
    }
    .input {
        padding-left: 5px;
        font-family: "Quicksand", sans-serif;
        font-size: 13px;
        border: 2px solid #c7c7c7;
        border-right: transparent;
        /* border-radius: 8px; */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    @media only screen and (min-width: 768px) {
        .input {
            width: 400px;
        }
    }
    @media only screen and (max-width: 768px) {
        .input {
            width: 300px;
        }
    }
}
