@import '../../../../assets/sass/functions.scss';
@import '../../../../assets/sass/mixins.scss';
@import '../../../../assets/sass/variables.scss';

.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
   
    padding: 0px;
    height: 100%;
    width: 100%;
    //max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerPur{
    position: absolute;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 2em; 
    justify-content: space-between;
    //border-bottom: 1px solid #B881FF;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    margin-top: 1em;
    box-sizing: border-box;

    // width: 600px;
    // height: 100vh;
    // padding-left: 10px;
    // //margin: 0 auto;
    // padding-top: 150px;
    font-size: 40px;
    
}

.containerSide{
    position: absolute;
    top: 0;
    left: 0;
    
    padding: 3.52em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: column; 
    flex-wrap: wrap;
    grid-gap: 2em; 
    box-sizing: border-box;
  
}
.producto{
    width: 150px;
}
.vacio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    div{
        margin-top: 80px;
        h1{
            font-size: 2rem;
        }
    }
    button{
        width: 80px;
        padding: 5px;
        box-sizing: border-box;
        background:$secundario;
        box-shadow: 0px 0px 4px rgba(156, 4, 187, 0.849);
        border-radius: 10px;
        cursor: pointer;
    }
}

.table{
    background-color: rgba(149, 53, 187, 0.153);
    width: 100%;
    border-collapse: collapse;
    td,
    th{
        padding: 40px;
    }
    &_cap{
        letter-spacing: 5px;
    }
    &_head{
        width: 100%;
        border-bottom: 1px solid $secundario;
    }
    &_heading{
        color:$gris4;
        font-size: 20px;
        letter-spacing: 5px;
        text-align: left
    }
    &_row{
        height: 65px;
    }
    &_cell{
        font-size: 20px;
        letter-spacing: 3px;
        border-top: 1px solid $secundario;
        color: $gris4;
        
    }
}
@media only screen and (max-width: 1024px) {
    .containerPur{
        margin-top: toRem(50);
        margin-left: toRem(50);
        
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 35px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid $secundario;
            }
            &_heading{
                color:$gris4;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid $secundario;
                color: $gris4;
                width: 100%;
            }
        }
            
      
    }
    .containerSide{
        margin-top: toRem(-10);
        position: absolute;
        top: 0;
        
        
        //padding: 3.52em;
    
    }   
       
      

  }

@media only screen and (max-width: 768px) {
    .containerPur{
        margin-top: toRem(150);
        margin-left: toRem(-100);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 15px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid $secundario;
            }
            &_heading{
                color:$gris4;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid $secundario;
                color: $gris4;
                width: 100%;
            }
        }
            
      
    }

  }

@media only screen and (max-width: 550px) {
    .containerPur{
        margin-top: toRem(150);
        margin-left: toRem(10);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 5px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid $secundario;
            }
            &_heading{
                color:$gris4;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid $secundario;
                color: $gris4;
                width: 100%;
            }
        }
            
      
    }

  }
  @media only screen and (max-width: 420px) {
    .containerPur{
        margin-top: toRem(150);
        margin-left: toRem(50);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 0px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid $secundario;
            }
            &_heading{
                color:$gris4;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid $secundario;
                color: $gris4;
                width: 100%;
            }
        }
            
      
    }

  }

  @media only screen and (max-width: 320px) {
    .containerPur{
        margin-top: toRem(310);
        margin-left: toRem(-60);
        width: 5em;
        .producto{
            width: 100px;

        }
        .table{
            width: 5em;
            font-size: 30px;
            td,
            th{
                padding: 3px;
            }
            &_cap{
                text-align: right;
                letter-spacing: 0px;
            }
            &_head{
                
                border-bottom: 1px solid $secundario;
            }
            &_heading{
                color:$gris4;
                font-size: 12px;
                letter-spacing: 5px;
                text-align: left
            }
            &_row{
                height: 65px;
            }
            &_cell{
                font-size: 16px;
                letter-spacing: 3px;
                border-bottom: 1px solid $secundario;
                color: $gris4;
                width: 100%;
            }
        }
            
      
    }

  }
