@import "../../assets/sass/functions.scss";
@import "../../assets/sass/mixins.scss";
@import "../../assets/sass/variables.scss";


.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;

  h1{
    text-align: center;
    font-size: toRem(40);
    margin-top: toRem(100);
    @include tabletMax() {
      margin-top: toRem(270);
    }
  }

  section{
    width: 90vw;
    margin: toRem(70) auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .cardContainer{
      width: 370px;
      margin: toRem(16);
      border-radius: toRem(10);
      display: flex;
      justify-content: space-around;
      padding: toRem(20) toRem(10);
      background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      &:hover{
        box-shadow: 2px 2px 10px $gris3;
      }
      

      .icon {
        color: $gris1;
        width: 150px;
        height: 150px;
      }

      .infoContainer{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        span{
          font-size: toRem(30);
          color: white;
        }

        h3{
          color: white;
        }

        button{
          width: 70%;
          font-size: toRem(16);
          padding: toRem(5);
          border: none;
          color: $gris1;
          background-color: #6f2dbd;
          &:hover{
            background-color: #6247aa;
            border: 1px solid $gris1;
          }
        }
      }
    }
  }
}