@import "../../assets/sass/functions.scss";
@import "../../assets/sass/mixins.scss";
@import "../../assets/sass/variables.scss";
// .darkmode-layer, .darkmode-toggle { z-index: 500; }

.container {
    width: 100vw;
    background-color: $gris1;
    border-bottom: 1px solid $gris2;
    display: flex;
    position: fixed;
    top: 0;
    // margin-top: 0;
    //  z-index: 1;
    @include tabletMax() {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: toRem(15) toRem(0) toRem(15) toRem(40);
        list-style: none;
    }

    .saldo {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #b881ff;
        padding: 5px;
        border-radius: 10px;
        gap: 8px;
    }

    ul {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: toRem(20) toRem(0);
        list-style: none;

        @include tablet() {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        li {
            // background-color: #B881FF;
            // margin: toRem(5);

            a {
                text-decoration: none;
                font-size: toRem(16);
                color: $gris3;
                padding: toRem(5) toRem(5);
                border: toRem(2) solid transparent;
                &:hover {
                    border: toRem(2) solid $secundario;
                    color: $secundario;
                    border-radius: toRem(10);
                }
            }

            .icon {
                color: $primario;
                &:hover {
                    color: $secundario;
                }
            }
        }
    }
}
:global(.darkmode--activated) .container {
    background-color: black;
}
